{% extends "base.html" %}
{% block  content%}
    <section class="add-project-form">
        <form method="post">
            <div class="form-row">
            <div class="form-group input-group mb-3 col-md-4">
            <input class="form-control" type="text" id="name" name="name" placeholder="Name" value={{project.name}} required/>
            </div>
            <div class="form-group input-group col-md-4">
            <input type='text' name="time" autocomplete="off" class="form-control" placeholder="Print time" id='time' value={{project.time}}>
            <div class="input-group-append">
                <span class="input-group-text">
                    <span class="fa fa-clock-o"></span>
                </span>
            </div>
            </div>
            <div class="form-group input-group col">
            <input class="form-control" type="text" id="weight" name="weight" placeholder="Weight" value={{project.weight}} required/>
            </div>
            <div class="form-group input-group">
            <input class="form-control" type="text" id="path" name="path" placeholder="Path of file" value={{project.path}} required/>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="{{url_for('projects.index')}}"> Cancel </a>
        </form>
    </section>
   <script type="text/javascript">
    var defaults = {
	calendarWeeks: true,
	showClear: true,
	showClose: true,
	allowInputToggle: true,
	useCurrent: false,
	ignoreReadonly: true,
	toolbarPlacement: 'top',
	icons: {
		time: 'fa fa-clock-o',
		date: 'fa fa-calendar',
		up: 'fa fa-angle-up',
		down: 'fa fa-angle-down',
		previous: 'fa fa-angle-left',
		next: 'fa fa-angle-right',
		today: 'fa fa-dot-circle-o',
		clear: 'fa fa-trash',
		close: 'fa fa-times'
        }
    };
    var optionsDatetime = $.extend({}, defaults, {format:'DD-MM-YYYY HH:mm'});
	var optionsDate = $.extend({}, defaults, {format:'DD-MM-YYYY'});
	var optionsTime = $.extend({}, defaults, {format:'HH:mm'});
    $(function () {
        $('#time').datetimepicker(optionsTime);
    });
    </script>
{% endblock %}