{% extends "base.html" %}
{% block  content%}
    <section>
        <div class="list-group list-group-flush mb-3">
           {% for printer in printers | sort(attribute='name') %}
            <div class="list-group-item">
                <span class="pr-2 border-right">{{printer.name}}</span>
                <span class="pr-2 border-right"><a href="{{printer.url}}">{{printer.url}}</a></span>
                <span>APIKEY: {{printer.apikey}}</span>
                {% if printer.server %}
                    <span class="pl-2 border-left text-success">SERVER <i class="fa fa-check" aria-hidden="true"></i></span>
                {% endif %}
                <div id="options" class="float-right">
                <span><a title="edit" class="btn btn-primary btn-sm" href="{{url_for('printers.edit_printer', printer_id=printer._id)}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
                <span><a title="delete" data-id='{{printer._id}}' class="btn btn-danger btn-sm conf-delete text-white"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                </div>

            </div>
            {% endfor %}
        </div>
        <a class="btn btn-success" href="{{url_for('printers.new_printer')}}"> Create New </a>
        <span class="pull-right">{{ pagination.links }}</span>
    </section>

<script type="text/javascript">
 $(".conf-delete").click(function(){
    var id = $(this).data('id');
    bootbox.confirm("Are you sure?", function(result) {
      if(result)
          window.location = '/printers/delete/' + id;
    });
  });
</script>
{% endblock %}